.searchRoot {
    margin-bottom: 9px;
    min-height: 6px;
    display: flex;
    justify-content: flex-end;
}

.tableContainer {
    width: 70%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

.menuItem {
    justify-content: flex-start;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fab {
    position: absolute;
    bottom: 25px;
    right: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    cursor: pointer;
    color: #3F93F6;

    &:hover {
        text-decoration: underline;
    }
}
