.wrapper {
    position: relative;
    min-height: calc(100vh - 24px * 2 - 72px);
}

.fab {
    position: absolute;
    bottom: 25px;
    right: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
}
