.container {
    padding: 10px;
}

.title {
    padding-bottom: 0;
}

.wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.button {
    min-width: 100px;
}
