.container {
    padding: 10px;
}

.title {
    padding-bottom: 0;
}

.wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.button {
    min-width: 100px;
}

.birthField {
    display: flex
}

.birthIcon {
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.birthIconBorder {
    border: 1px solid #DADADA;
    transition: border 0.5s;

    &:hover {
        border: 1px solid black;
    }
}

.picture {
    border: 1px solid grey;
}

.loadingContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
