.search {
    position: relative;
}

.searchIcon {
    width: 200px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inputRoot {
    color: inherit;
    width: 100%;
}

.inputInput {
    padding: 2rem 2rem 2rem 10rem;
}

.searchResults {
    position: absolute;
    top: 45px;
    z-index: 2;
    color: #8B8B8B;
    border: 1px solid #8B8B8B;
    background-color: white;
    padding: 7px;
    width: 25%;
    min-height: 14px;
    max-height: 850px;
    overflow-y: scroll;

}

.searchResultsItemWrapper {
    margin-top: 16px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
