.searchRoot {
    margin-bottom: 9px;
    min-height: 6px;
    display: flex;
    justify-content: flex-end;
}

.tableContainer {
    width: 50%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
