.root {
    // background-color: #212121;
}

.menuContainer {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 350px;
}
