.modalWindow {
    width: 30%;
    position: absolute;
    top: 40px;
    left: 40px;
}

.container {
    padding: 10px;
}

.title {
    padding-bottom: 0;
}

.wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.actionButton {
    display: flex !important;
    min-width: 100px;
}

.poster {
    display: inline-block;
    border: 1px solid grey;
    width: 285px;
}

.uploads {
    display: inline;
}

.video {
    position: relative;
    display: inline-block;
    border: 1px solid grey;
    margin-left: 1rem;
    width: 285px;
    vertical-align: top;
}

.posterVideoHead {
    display: block;
    font-size: 14px;
}

.loadingContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
}
