.search {
    position: relative;
}

.searchIcon {
    width: 200px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inputRoot {
    color: inherit;
    width: 100%;
}

.inputInput {
    padding: 2rem 2rem 2rem 10rem;
}
