.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 45%;
    color: #8B8B8B;
}

.loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pictureInfo {
    display: inline;
}

.arrowBack {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.pictureImage {
    display: inline-block;
    position: relative;
    width: 165px;
    height: auto;
    cursor: pointer;
}

.img {
    vertical-align: top;
}

.info {
    display: inline-flex;
    flex-direction: column;
    padding-left: 50px;
    max-width: 65%;
}

.name {
    line-height: 2.6rem;
}

.movies {
    margin-top: 40px;
}

.link {
    cursor: pointer;
    color: #3F93F6;

    &:hover {
        text-decoration: underline;
    }
}
