.container {
    position: relative;
    width: 100%;
    height: 80vh;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hint {
    text-align: end;
    font-size: 13px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
