.container {
    position: relative;
}

.searchResults {
    position: absolute;
    top: 45px;
    z-index: 2;
    color: #8B8B8B;
    border: 1px solid #8B8B8B;
    background-color: white;
    padding: 7px;
    width: 100%;
    min-height: 14px;
    max-height: 850px;
    overflow-y: scroll;

}

.searchResultsItemWrapper {
    margin-top: 8px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
