.container {
    width: auto;
    background-color: #EAEAEA;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.closeHover {
    cursor: pointer;
}
