.container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
        background-color: #ECECEC;
    }
}

.descriptionContainer {
    margin-left: 18px;
}

.movieName {
    font-size: 20px;
}

.directorContainer {
    display: flex;
    align-items: center;
}

.directorName {
    margin-left: 8px;
}
